.fancynav {
  font: 2.5em 'Cookie', Helvetica, sans-serif;
  color:  #046380 !important;
	text-shadow: 4px 4px 3px  #046380; 
	font-weight: bold;


   }







.fancyfriend{
background-color:#046380;
color:#E6E2AF;
font: 1.3em 'Lobster Two', Helvetica, sans-serif;
text-shadow: 1px 0px 1px #E6E2AF;
}

h3{
    text-decoration: underline;
}









