body {
    background-color: #046380;
}

.content {
    text-align: left;
    margin-top: 0px;
    background-color: #f8f8f8;
    padding: 10px
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.prettyButtonDynamic {
    background-color: #00477F;
    color: #f8f8f8;
    margin-bottom: 2px;
}
.prettyButtonDynamic:hover {
    background-color: #52B3FF;
    color: #f8f8f8;
    margin-bottom: 2px;
}

.center{
    text-align: center;
}

#safezone{
    float: left;
width:100px;
height:100px;
border:2px dashed #046380;
border-radius: 50%;
 box-shadow: 0.4em 0 0.6em 0.1em #046380;

}
.warning{
    font-family: initial !important;
     font-weight: bold!important;
}

#dangerzone{
float: right;
width:100px;
box-shadow: 0.4em 0 0.6em 0.1em #d9534f;
height:100px;
border-radius: 50%;
border:2px dashed #d9534f;
}

.fa-reply{
    color:#046380!important;
}
#sospass{
    padding-top: 10%;
    font-family: initial !important;
   
    height:20%;
}



