<template name="myPath">

<div id="recordPath" class="fancytoggles">
<btn id="go" class="btn btn-success" title="Record Path">
<i class="glyphicon glyphicon-record tiny" style="color:white;"></i>


	Record</btn>



	<btn id="stop" class="btn btn-danger" title="Stop Recording" >
<i class="glyphicon glyphicon-stop tiny" style="color:white;"></i>


	Stop</btn> </div>
	<div id="resetPath">


	<btn  id="reset" class="btn btn-warning" title="Reset Path">
<i class="glyphicon glyphicon-repeat tiny" style="color:white;"></i>


	Reset Path</btn>

		<btn  id="toggleTrack" class="btn btn-success" title="toggle track">
		Start Track</btn> </div>

	<button id='test'>test</button>
	<button id='activateTest'>activate</button>
	<p>
		test location
		start lat<input type='number' id='testLat' value='{{startLat}}'/>
		start lng<input type='number' id='testLng' value='{{startLng}}'/>
	</p>
	<p>
	motion controls
	<button id='incLat'>+</button>
		lat offset<input type='number' id='latOffset' value='{{latOffset}}'/>
	<button id='decLat'>-</button>
	<button id='incLng'>+</button>
		lng offset<input type='number' id='lngOffset' value='{{lngOffset}}'/>
	<button id='decLng'>-</button>
		step size<input type='number' id='step' value='{{step}}'/>In Meters
	<button id='zero'>zero</button>
	<button id='manualLoc'>GPS override</button>
	</p>
	<div>
		<h2 id="myPathText"></h2>
	</div>

</template>