<template name="myPath">

<div id="recordPath" class="fancytoggles">
<btn id="go" class="btn btn-success" title="Record Path">
<i class="glyphicon glyphicon-record tiny" style="color:white;"></i>


	Record</btn>



	<btn id="stop" class="btn btn-danger" title="Stop Recording" >
<i class="glyphicon glyphicon-stop tiny" style="color:white;"></i>


	Stop</btn>


	<btn  id="reset" class="btn btn-warning" title="Reset Path">
<i class="glyphicon glyphicon-repeat tiny" style="color:white;"></i>


	Reset Path</btn>

		<btn  id="toggleTrack" class="btn btn-success" title="toggle track">
		Start Track</btn> </div>

	<button id='test'>Dummy Path</button>
	<button id='activateTest'>Dummy Walker</button>
	<div>
		<h2 id="myPathText"></h2>
	</div>

</template>