<template name="myPath">
	<div class='container'>
		<div class='row'>
			<div class='col-xs-12'>
				<div class="fancytoggles">
					<btn id="reset" class="btn btn-warning" title="Reset Path">
						<i class="glyphicon glyphicon-repeat tiny" style="color:white;"></i> Reset Path</btn>

					<btn id="track" class="btn btn-success" title="toggle track">
						Start Track</btn>
				</div>

				<!--<button id='test'>test</button>-->
				<button id='test'>Dummy Path</button>
	<button id='activateTest'>Dummy Walker</button>
			</div>
			</div>
		</div>
</template>