<template name="index">
	{{#if currentUser}}
	
{{> userCheck}}
<div id="needMobile" style="display:none;">
	<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8"><div class="content">

{{> getNumber}}


    </div></div>
    <div class="col-sm-2"></div>
  </div>
</div>
</div>




	<div id="main" style="display:block;">
		


        <div class="container">
  <div class="row">
    <div class="col-sm-9" id="myMap"><div class="content">
<div id="myPath" style="display:none;">
  {{> myPath}}
    </div>

{{> map}}

    </div>


    </div>




    <div class="col-sm-9" id="myFriends" style="display:none;"><div class="content">
      {{> myFriends}}
    </div>
    </div>




    <div class="col-sm-3"><div class="content">
    {{> friendsList}}</div></div>
  </div>
</div>


 
        

				
		</div>
		{{else}}
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    	<div class="content">
<button id="facebook-login" class="btn btn-default"> Login with Facebook</button>
    	</div>
    
</div>
    <div class="col-sm-2"></div>
  </div>
</div>
		


		{{/if}}
</template>

<template name="userCheck">
	</template>


