<template name="myFriends">
<div class="container" style="max-width:100%;">
  <div class="row">
    <div class="col-sm-12">
{{> addFriend}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
    {{> friendRequests}}</div>
    <div class="col-sm-6">
    {{> friendsPending}}</div>
  </div>
</div>




</template>


<template name="addFriend">
	<form>
		<p>What's your friend's cell number?
			<input type="tel" id="friendsCell">
			<input type="submit" value="Add A Friend!">
		</p>
	</form>
</template>

<template name="friendsList">
	<div class="container fancyfriend col-md-12">
	<h3>Friends List - Distances</h3>
	<btn class="btn btn-info mile" title="Distance in Miles" >Miles</btn>
	<btn class="btn btn-danger yard" title="Distance in Yards" >Yard</btn>
	<btn class="btn btn-warning calorie fa fa-heart" title="This is how much calorie you burn if you walk to you friend, lets get moving!!"></btn>
	<btn class="btn btn-success" title="?">?</btn>
	<ol>
		{{#each friendsList}}
		<li>{{this.name}}&nbsp;-&nbsp;{{this.distance}}</li>
		<li>{{this.name}}&nbsp;-&nbsp;{{this.distance}}</li>
		<li>{{this.name}}&nbsp;-&nbsp;{{this.distance}}</li>
		<li>{{this.name}}&nbsp;-&nbsp;{{this.distance}}</li>
		<li>{{this.name}}&nbsp;-&nbsp;{{this.distance}} </li>

		
		{{/each}}
	</ol>
</div>
</template>

<template name="friendRequests">
	{{#if currentUser}}
	<h3>Friends Request</h3>
	<ol>
		{{#each friendRequests}}
		<li class="name">{{this.name}}
			<i id="{{this.id}}" class="glyphicon glyphicon-ok tiny" style="color:green;"></i>
			<i id="{{this.id}}" class="glyphicon glyphicon-remove tiny" style="color:red;"></i>
		</li>
		{{/each}}
	</ol>
	{{/if}}
</template>

<template name="friendsPending">
	{{#if currentUser}}
	<h3>Pending Friends</h3>
	<ol>
		{{#each friendsPending}}
		<li>{{this}}</li>
		{{/each}}
	</ol>
	{{/if}}
</template>